# Ignoruj katalogi ze środowiskiem wirtualnym Pythona
venv/
.venv/

# Ignoruj pliki cache Pythona
__pycache__/
*.pyc

# Ignoruj katalogi z wynikami i raportami Allure
allure-results/
allure-report/
gh-pages-history/

# Ignoruj pliki specyficzne dla IDE (np. PyCharm)
.idea/
*.iml

# Ignoruj pliki Docker
*.log